<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="Personal Web Page of Maksim Khadkevich" />
<meta name="keywords" content="Maksim Khadkevich" />
<title>Personal Web Page of Maksim Khadkevich :: {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
  <h1>Maksim Khadkevich</h1>
  <h2>Personal Web Page</h2>
</div>

<script type="text/javascript" src="ajaxtabs/ajaxtabs.js">

/***********************************************
* Ajax Tabs Content script v2.2- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>
<script type="text/javascript">
  function changeTitle(title) { document.title = title; }
</script>

<div id="menu">
    <ul id="menutabs" class="shadetabs">
        <li><a href="main.html">Main Page</a></li>
		<li><a href="publications.html">Publications</a></li>
		<li><a href="aboutme.html">About me</a></li>
	</ul>
</div>



<div id="content">
  
  <div id="colOne">
    <p><img src="images/foto.jpg" alt="My photo" />
    <br />
      <p><strong>PhD student.</strong> 
	  <i>FBK-irst, ICT International Doctoral School, Department of 
	  Information and Communication Technology, University of Trento.
          </i>
      </p>
    <p>
    <p>	
    	email:khadkevich_&lt;at&gt;_fbk_._eu <br/>
       	Phone: +39 0461 314 544 <br/>
    </p>


  </div>
  
  <div id="colTwo">
    {{ content }}
  </div>
  
  <div style="clear: both;">&nbsp;</div>
</div>

<div id="footer">
  <p>&copy; 2011 Maksim Khadkevich Last updated: July 1, 2011.</p>
</div>

<script type="text/javascript">
var countries=new ddajaxtabs("menutabs", "colTwo")
countries.setpersist(true)
countries.setselectedClassTarget("link") 
countries.init()
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15936035-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
